<%# Local variables:
    path: The path to the markdown file.
    separator: The separator for horizontal slides.
    separator_vertical: The separator for vertical slides.
    bundle_path: Path to the folder containing both css and js files. %>
<html>
  <head>
    <link rel="stylesheet" href="<%= bundle_path %>/bundle.css">
    <script type="module" src="<%= bundle_path %>/bundle.js"></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-markdown="<%= path %>"
                 data-separator="<%= separator %>"
                 data-separator-vertical="<%= separator_vertical %>"
        </section>
      </div>
    </div>
  </body>
</html>
