<%# Local variables:
    path: The path to the markdown file.
    separator: The separator for horizontal slides.
    separator_vertical: The separator for vertical slides.
    theme: Name of the theme used. %>
<html>
  <head>
    <link rel="stylesheet" href="/<%= theme %>.css">
    <link rel="stylesheet" href="/assets/template.css">
    <script type="module" src="/<%= theme %>.js"></script>
    <style>
      .hljs-ln-code { white-space: pre; }
    </style>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-markdown="<%= path %>"
                 data-separator="<%= separator %>"
                 data-separator-vertical="<%= separator_vertical %>"
        </section>
      </div>
    </div>
  </body>
</html>
